@media screen and (min-width:280px) and (max-width:560px) {
    #sidebar{
        float: none;
        width: 0;
        border: 0px;
        height: 0; 
        margin-top: 0px;
    }
    
    #buscar, #categorias, #sitios-amigos, #ultimos-post{
        border-radius: 0;
        width: 0%;
        border: none;
        height: 0px; 
    }
}